<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<key>PROJECT_UUID</key>
<string>7399450c-7c80-4fa9-b61a-58c815a821a2</string>
<key>PROJECT_CLIENT_KEY</key>
<string>cip1DpxvzNMYekotllYMmiTVtpNClCaCEccjSkqw</string>
<key>PROJECT_APP_UUID</key>
<string>41326c93-7584-4923-9051-19f44027b959</string>

</dict>
</plist>
