<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  >

    <application>
        <activity
            android:name="network.particle.wallet_plugin.ui.FlutterLoginOptActivity"
            android:exported="false"
            android:theme="@style/PnThemeWallet.FullScreen" />
    </application>
</manifest>
