<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PROJECT_UUID</key>
    <string>YOUR_PROJECT_UUID</string>
    <key>PROJECT_CLIENT_KEY</key>
    <string>YOUR_PROJECT_CLIENT_KEY</string>
    <key>PROJECT_APP_UUID</key>
    <string>YOUR_PROJECT_APP_UUID</string>
</dict>
</plist>
