<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!--	<key>PROJECT_UUID</key>-->
<!--	<string>YOUR_PROJECT_UUID</string>-->
<!--	<key>PROJECT_CLIENT_KEY</key>-->
<!--	<string>YOUR_PROJECT_CLIENT_KEY</string>-->
<!--	<key>PROJECT_APP_UUID</key>-->
<!--	<string>YOUR_PROJECT_APP_UUID</string>-->
    <key>PROJECT_UUID</key>
    <string>772f7499-1d2e-40f4-8e2c-7b6dd47db9de</string>
    <key>PROJECT_CLIENT_KEY</key>
    <string>ctWeIc2UBA6sYTKJknT9cu9LBikF00fbk1vmQjsV</string>
    <key>PROJECT_APP_UUID</key>
    <string>2db718b1-5e1e-4184-849f-b4efc606e782</string>
    
</dict>
</plist>
