<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROJECT_UUID</key>
	<string>b0991b94-8219-4499-bf8e-d92ce6087f72</string>
	<key>PROJECT_CLIENT_KEY</key>
	<string>cEpW3oDxg8JoFK2WR4OT04d0mMffdBRPiQIbu0xF</string>
	<key>PROJECT_APP_UUID</key>
	<string>1d90aba8-7317-4d0e-85a7-9913b8aaa530</string>
</dict>
</plist>
